@{
    ViewData["Title"] = "Ajouter une liste";
}

<h1>@ViewData["Title"]</h1>

<div class="card">

    <form method="POST" asp-controller="Liste" asp-action="Add">

        <div class="input-group m-3">
            <p><input class="px-5" type="text" id="name" name="name" placeholder="Nom de la liste"></p>
        </div>

        <div class="input-group m-3">
            <p><input class="px-5" type="text" id="projectId" name="projectId" placeholder="Id du projet"></p>
        </div>

        <div class="input-group m-3">
            <input type="submit" value="Ajouter" />
        </div>

    </form>
</div>

